@model MealTime.Models.Ingredient
@using MealTime.Models

@{
    Layout = "_Layout";
}

<h2>Ingredients</h2>
<hr>
<h3>View Ingredient</h3>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
@Html.ActionLink("Edit Ingredient", "Edit", new {id = Model.IngredientId})
<br>
@Html.ActionLink("Delete Ingredient", "Delete", new {id = Model.IngredientId})
<br>
<br>
<h4>Recipes</h4>
@if (@Model.RecipeIngredients.Count == 0)
{
    <p>Ingredient is not in any recipes.</p>
}
@foreach (RecipeIngredient recipeIngredient in Model.RecipeIngredients)
{
    <p>@recipeIngredient.Recipe.Name</p>
}

@Html.ActionLink("Edit Ingredient", "Edit", new {id = Model.IngredientId})
<br>
@Html.ActionLink("Delete Ingredient", "Delete", new {id = Model.IngredientId})